<footer style="
position: absolute;
bottom: 0;
width: 100%;" 
class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/hatem.sfar2" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/hatem_sfar/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/sfar-hatem-60b009199/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mrint01" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
     
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © {{year}} Copyright:
      <a class="text-white" href="http://hatemsfar.ga/">hatemsfar.ga</a>
    </div>
  </footer>